@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: linear-gradient(to right, #A2A7F0, #696EDD);
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #F7F7FE;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.theme-toggle-button {
  position: relative;
  width: 56px;
  height: 32px;
  border-radius: 30px;
  background: var(--main-color);
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
}

.toggle-slider {
  position: absolute;
  top: 4px;
  left: 5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s;
}

.theme-toggle-button.active .toggle-slider {
  transform: translateX(24px);
}

.theme-toggle-button:focus {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

teste{
  color:hsla(0, 0%, 0%, 0.297)
}

.pricing-component {
  background: url('/assets/imgs/bg-pattern.svg');
  background-repeat: no-repeat;
  background-position: calc(240%) -50px;
  background-size: auto;
}